body{
    margin: 0;
    padding: 0;
}
/* --Common Style-- */
p{
    color: #7e7d7ade;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar nav{
    flex: 1;
    text-align: right;
}
.navbar nav ul{
    list-style-type: none;
    display: inline-block;
}
.navbar ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
}
.container{
    max-width: 1350px;
    /* padding-left: 100px;
    padding-right: 100px; */
    padding: 0px 100px;
    margin: auto;
}


/* -- Slider Part -- */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row .col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 50px;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background-color: #ec1c46e0;
    color: white;
    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 15px;
}

header{
    background: radial-gradient(#eed1d7e0,#ebd7dbe0);
}